<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redemption Rides Card</title> 
    <link rel="stylesheet" href="style/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="glass">
        <h2>Redemption Rides</h2>
        <p>Hi, my name is Mikayla and I'm a riding instructor.</p>
        <p>My mission is to provide basic independent riding lessons and trail rides to children and adults of any age.</p>
        <p>If interested, I also incorporate biblical principles into each riding lesson and encourage scripture memory!</p>
        <p>You can reach me at:<br>
        Phone: 315-569-5161<br>
        E-mail: redemptionrides@yahoo.com<br>
        Facebook: <a href="https://www.facebook.com/Redemption-Rides-106418011279471">Redemption Rides</a></p>
    </div>
</body>
</html>

